<div class="card">

  <% unless @book.comments.empty? %>
    <%= @book.comments.count %>
  <% end %>comments</p></footer>
<% unless @book.comments.empty? %>
  <%= render @comments %>
  <%= will_paginate @comments %>
<% end %>

  <div class="card-header">
  <%= @book.author %>  </div>
  <div class="card-body">
    <h5 class="card-title">  
    <%= @book.title %>
    </h5>
    <p class="card-text">  <%= @book.asin %>
    | <%= @book.number_of_pages %></p>

  </br>
    <%= link_to 'Edit', edit_book_path(@book), class:"btn btn-secondary" %>
<%= link_to 'Back', books_path, class:"btn btn-dark" %>
  </div>
 
</div>


